body
{
 font-family:Tahoma,Geneva,sans-serif;
 color:#fff;
 background:url(https://wallpapercave.com/wp/wp5748130.jpg) ;
 background-size:cover ;
}
.updated
{
    background: rgba(141, 161, 182, 0.7);
    padding: 40px;
    height: 180px;
    margin-left: 180px;
    margin: 0 auto;
    margin-top: 120px;
    width: 240px;
    
}
h1
{
    text-align:center;
    margin-top: auto;
   
}
a
{
    color: rgb(255, 255, 255);
    text-decoration: blink;
    font-family: Tahoma, Geneva, sans-serif;
    margin-left: 35px;
}
a:hover
{
    color: skyblue;
}